@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
    @apply
    bg-blue-50
}

/* styles.css */
:root {
    --color-primary: blue;
    --color-secondary: gray;
}
.dark {
    --color-primary: black;
    --color-secondary: gray;
}

.light {
    --color-primary: white;
    --color-secondary: blue;
}

/* Diğer temaları burada tanımlayabilirsiniz */